project_name   = "goit-linux"
environment    = "dev"
aws_region     = "eu-central-1"
db_password    = "ChangeMe123!"

# Enable this only for one-time backend bootstrap apply.
create_backend_resources     = false
backend_bucket_name          = "goit-linux-terraform-state"
backend_dynamodb_table_name  = "goit-linux-terraform-locks"

